$green: #6df57f;
$red: #ca3535;
$blue: #09b9ff;
$white: #fff;

.navbar {
    background-color: $blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1 {
        margin: 20px;
        color: $white;
        font: 70px sans-serif;
        font-weight: bold;
    }
}
table {
    font-family: arial, sans-serif;
    font-size: 25px;
    border-collapse: collapse;
    width: 100%;
}
tr {
    border-bottom: 1px solid #ddd;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.nav-btn {
    margin: 20px;
    font: 40px sans-serif;
    background-color: $green;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input {
    margin-bottom: 15px;
}

.btnDelete {
    margin: 5px;
    font: 20px sans-serif;
    background-color: $red;
}
.btnEdit {
    margin: 5px;
    font: 20px sans-serif;
    background-color: $green;
}
